#floating {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
    display: none;
}

.centrify {
    margin: auto;
    display: flex;
}

.mdl-card__title-text {
    font-family: Barrio;
    font-size: 36px;
}

.mdl-textfield {
    width: 100%;
}

.inner {
    max-width: 200px;
    word-wrap: break-word;
    white-space: initial;
}

.mdl-card {
    max-width: calc(100vw - 32px);
}

.mdl-card__supporting-text{
    width: calc(100% - 32px);
    color: rgba(0,0,0,.54);
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
}

text {
    fill: rgba(0,0,0,.54);
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
}

.mdl-data-table {
    width: 100%;
}

tr, th, td {
    padding: 16px !important;
}

#new-card {
    display: none;
}

#ranking-card {
    display: none;
}

#chart-card {
    display: none;
}

#chart-div {
    height: 500px;
}

.mdl-card {
    border-radius: 18px;
    min-height: 36px;
}

.mdl-button {
    border-radius: 18px;
}

.mdl-button--fab {
    border-radius: 100%;
}

.multicolumn {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    text-align: center;
}

h5 {
    margin-block-start: 16px;
    margin-block-end: 16px;
    color: #3c4043;
}

.mdl-textfield__input {
    color: #3c4043;
}

#spinner {
    display: none;
    position: fixed;
    display: block;
    right: 50%;
    bottom: 50%;
    z-index: 1000;
}
#spinner > * {
    display: none;
}

#darken {
    display: none;
    background: #000;
	opacity: 0.5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}