#floating {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
    display: none;
}

.centrify {
    margin: auto;
    display: flex;
}

.mdl-card__title-text {
    font-family: Barrio;
    font-size: 36px;
}

.mdl-textfield {
    width: 100%;
}

.inner {
    max-width: 200px;
    word-wrap: break-word;
    white-space: initial;
}

.mdl-card {
    max-width: calc(100vw - 32px);
}

.mdl-card__supporting-text{
    width: calc(100% - 32px);
    color: rgba(0,0,0,.54);
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
}

text {
    fill: rgba(0,0,0,.54);
    font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 400;
}

.mdl-data-table {
    width: 100%;
}

tr, th, td {
    padding: 16px 8px 16px 8px !important;
}

#new-card {
    display: none;
}

#ranking-card {
    display: none;
}

#chart-card {
    display: none;
}

#chart-div {
    height: 500px;
}

.mdl-card {
    border-radius: 18px;
    min-height: 36px;
}

.mdl-button {
    border-radius: 18px;
}

.mdl-button--fab {
    border-radius: 100%;
}

.multicolumn {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    text-align: center;
}

h5 {
    margin-block-start: 16px;
    margin-block-end: 16px;
    color: #3c4043;
}

.mdl-textfield__input {
    color: #3c4043;
}

#spinner {
    display: none;
    position: fixed;
    display: block;
    right: 50%;
    bottom: 50%;
    z-index: 1000;
}
#spinner > * {
    display: none;
}

#darken {
    display: none;
    background: #000;
	opacity: 0.5;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}

.mdl-card__supporting-text > .material-icons {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    transform: translateY(0.1rem);
}

::selection {
    background: rgba(0,77,64 ,0.1);
}
/*#info-card > .mdl-card__title {
    color: #fff;
    height: 170px;
    background-color: rgb(233,30,99); 
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" style="padding: 16px" width="36" height="36" viewBox="0 0 32 32"><defs><style type="text/css">@import url(http://fonts.googleapis.com/css?family=Barrio);</style></defs><text fill="black" style="font-family: Barrio;font-size: 32px;font-weight: bold;writing-mode: tb;">8</text></svg>');
}*/

/* I feel extremely sad for this change. That wasn't my decision. */

path {
    fill: #134f5c;
}

img[src$="logo8NF.png"] {
    filter: hue-rotate(calc(191deg - 340deg)) brightness(calc(0.318 / 0.516)) saturate(calc(0.658 / 0.822));
}
